@model IEnumerable<Aiges.MVC.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}
<body>
    <div class="project-wrapper">
        @foreach (var prj in Model)
        {
            <div class="project-container">
                <div onclick="location.href='/Project/ProjectDetails?id=@prj.Id'" class="char-name">                
                    <p>
                        <span class="char-name-color">@prj.Title</span>
                    </p>                
                </div>
            </div>
        }
    </div>
</body>